<h1>Editing Comment</h1>

<%= form_for @comment do |comment_form| %>
  <p> Comment:</br> <%= comment_form.text_field :body %> </p>
  <%= hidden_field_tag(:post_id, @comment.post_id) %>
  <%= comment_form.submit :Comment %>
<% end %>
<% if @comment.errors.any? %>
  <ul class="Comment_Errors">
    <% for message_error in @comment.errors.full_messages %>
    <li>* <%= message_error %></li>
    <% end %>
  </ul>
<% end %>

<%= link_to 'Cancel', @comment %>

