<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= link_to 'Show', post %></td>

	<% if (!cookies[:admin].nil?) && cookies[:admin] %>
	<% then %>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if (!cookies[:admin].nil?) && cookies[:admin] %>
<% then %>
  <%= link_to 'New Post', new_post_path %>
<% end %>

